
h1 {
    background: red;
}
.parag1 {
    background: blue ;
    color : green ;
    margin-bottom: 600px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 20px;
}
.parag2 {
    border : 10px solid yellow ;
    border-radius : 5px ;
    font-size: 24pt ;
    font-weight: bold;
    font-size: 24pt;
    font-family: Courier New;
    margin-bottom: 600px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 20px;

}
.parag3 {
    margin-bottom: 600px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 20px;
}
.parag4 {
    font-style: oblique;
    text-align: center;
    font-size: 24pt;
    box-shadow: 5px 5px  rgb(0, 250, 0);
}